body{
    margin: 0;
    padding: 0;
    font-family: Arial;
    font-size: 16px;
    background-color: #e3fcf5;
}
th:hover{
    cursor: pointer;
}
#login{
    border-radius: 15px;
    width: 50%;
    margin: 100px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px 0;
    background-color: #6ff7d1;
}
#login input{
    margin-bottom: 20px;
    width: 50%;
    text-align: center;
}
button{
    color: #fff;
    background-color: #4193f7;
    border-radius: 5px; 
}
button:hover{
    background-color: #0864d6;
}
#login button{
    width: 50%;
    height: 25px;
}
caption{
    font-size: 1.5em;
    font-weight: 500;
    margin: 10px 0;
}

tr:hover{
    background-color: #6ff7d1;
    cursor: pointer;
}
thead tr:hover{
    background-color: #e3fcf5;
}
.hiddenBtn{
    display: none;
}
#main{
    margin: 0 5%;
}
#main h1{
    text-align: center;
}
#main table{
    margin: 20px 30px;
    font-size: 1.1em;
    border-collapse: collapse;
}
td, th {
    border: 1px solid #333; 
    padding: 5px 20px;
}
